extends layout

block layout-content
  div.View
    h1.Banner Form
    form(action="/form" method="post")
      label(for="title") Title:
      input(type="text" id="title" name="title")
      label(for="description") Description:
      input(type="text" id="description" name="description")
      label(for="price") Price:
      input(type="number" id="price" name="price")
      input(type="submit" value="Submit")

  p #{message}